@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
	background-color: white;
    margin: 0;
	color: white;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Special Elite', cursive;
}

.container {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    height: 250px;
    margin-left: 6vw;
    margin-top: -450px;
	padding: 3rem;
	border-radius: 1rem;
    border: 2px solid black;
    background-image: url('https://img.icons8.com/clouds/100/000000/password-window.png');
    background-size: cover;
    transform: rotateX(-13deg) rotateZ(60deg) rotateY(-15deg) scale3d(3,-8,-0.9);
    -webkit-transform: rotateX(45deg) rotateZ(-2deg) rotateY(5deg) scale3d(1, 1, -0.9);
}

.form {
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 1rem;
	column-gap: 3rem;
	justify-content: center;
	align-items: center;
}

.title {
    margin: 0;
    color:black;
	text-align: center;
}

label {
    color: #000;
	font-weight: bold;
}

.character-amount-container {
	display: flex;
	align-items: center;
}

.number-input {
	width: 2rem;
}

.password-display {
	background-color: white;
	color: black;
	padding: 1rem;
	border: 1px solid #333;
	height: 2rem;
	width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	word-break: break-all;
	border-radius: 0.5rem;
	font-size: larger;
}

.btn {
	grid-column: span 2;
	background-color: transparent;
	border: 2px solid white;
	color: white;
	padding: 0.5rem 1rem;
	font-weight: 900;
	cursor: pointer;
	border-radius: 1rem;
}

.btn:hover {
	background-color: #ffffff33;
}

input {
	cursor: pointer;
}

span {
  color: plum;
  font-size: 50px;
}